* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.logo {
    text-align: center;
    margin: 50px;
    font-size: 50px;
    font-weight: bold;
}

.surface {
    width: 665px;
    position: relative;
    background-color: black;
    margin: 0 auto;
    z-index: -1;
}

.options {
    text-align: center;
    margin-bottom: 30px;
}

#play_animation {
    width: 150px;
}

#timer_input {
    width: 50px;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.blur {
    position: absolute;
    top: 82px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.lamp {
    position: absolute;
    top: 82px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

#lamp_1, #blur_1 {
    background-color: rgb(39, 207, 6)
}

#lamp_2, #blur_2 {
    background-color: rgb(4, 40, 240)
}

#lamp_3, #blur_3 {
    background-color: rgb(255, 0, 0)
}

#lamp_4, #blur_4 {
    background-color: rgb(243, 130, 1)
}

#lamp_5, #blur_5 {
    background-color: rgb(39, 207, 6)
}

#lamp_6, #blur_6 {
    background-color: rgb(4, 40, 240)
}

#lamp_7, #blur_7 {
    background-color: rgb(255, 0, 0)
}

.explication {
    text-align: center;
    margin-bottom: 25px;
}

.colors {
    /* display: inline-block; */
    margin-top: 10px;
    text-align: center;
}

.colors > label {
    text-align: center;
}


.colors_input {
    margin-right: 25px;
    width: 49px;
}